@charset "utf-8";


body,h1,h2,h3,p,div,footer{
  margin: 0;
  padding: 0;
}

.theme {
  font-family: serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.container {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}

.news {
  width: 50%;
}

.news h3{
  font-family: serif;
}

.news p{
  font-size: 16px;
}

.img-size{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}



.img-size img{
  max-width: 100%;

}

footer{
  background-color: bisque;
  height: 80px;
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:700px){
  .container{
    display: block;
  }
  .news {
    width: 100%;
  }
  .news2{
    margin-top: 40px;
  }





}

